<h1>Marmotte Blog</h1>
<p>
  Ceci est la page d'accueil du blog basé sur ce
  <a href="http://railstutorial.org/">tutoriel</a>.
</p>
<%= link_to "S'inscrire !", signup_path, :class => "signup_button round" %>